# Informe de aportes hidrologicos para el a√±o 2004

Este es un ejemplo de **clase** sobre la manipulacion de los **_archivos_** csv usando python
* item 1
* item 2
* item 3

In [26]:
%ls

AportesDiario_2004.csv           Informe2004.ipynb
AyudaRenta2013 v1.5.xls*         Navidad Familia Cuervo 2014.mp4
Demo.txt                         RStudio.app/
Demo2                            Untitled.ipynb
Demo3.txt                        cancun/
Diplomado/

In [33]:
import pandas as pd

In [46]:
x = pd.read_csv('AportesDiario_2004.csv', sep=';', decimal=',', thousands='.', skiprows=2)

In [47]:
x.head()

,Fecha,Region Hidrologica,Nombre Rio,Aportes Caudal m3/s,Aportes Energia kWh,Aportes %
0,1/01/04,ANTIOQUIA,A. SAN LORENZO,17.56,3910000.0,"72,27%"
1,1/01/04,ANTIOQUIA,CONCEPCION,6.15,1385300.0,"123,69%"
2,1/01/04,ANTIOQUIA,"DESV. EEPPM (NEC,PAJ,DOL)",11.43,2574700.0,"147,13%"
3,1/01/04,ANTIOQUIA,GRANDE,18.65,4563500.0,"79,23%"
4,1/01/04,ANTIOQUIA,GUADALUPE,11.28,2540900.0,"80,15%"

In [48]:
x['Fecha']

0        1/01/04
1        1/01/04
2        1/01/04
3        1/01/04
4        1/01/04
5        1/01/04
6        1/01/04
7        1/01/04
8        1/01/04
9        1/01/04
10       1/01/04
11       1/01/04
12       1/01/04
13       1/01/04
14       1/01/04
15       1/01/04
16       1/01/04
17       1/01/04
18       1/01/04
19       1/01/04
20       1/01/04
21       1/01/04
22       1/01/04
23       1/01/04
24       2/01/04
25       2/01/04
26       2/01/04
27       2/01/04
28       2/01/04
29       2/01/04
          ...
8754    30/12/04
8755    30/12/04
8756    30/12/04
8757    30/12/04
8758    30/12/04
8759    30/12/04
8760    31/12/04
8761    31/12/04
8762    31/12/04
8763    31/12/04
8764    31/12/04
8765    31/12/04
8766    31/12/04
8767    31/12/04
8768    31/12/04
8769    31/12/04
8770    31/12/04
8771    31/12/04
8772    31/12/04
8773    31/12/04
8774    31/12/04
8775    31/12/04
8776    31/12/04
8777    31/12/04
8778    31/12/04
8779    31/12/04
8780    31/12/04
8781    31/12/04
8782    31/12/04
8783    31/12/04
Name: Fecha, dtype: object

In [49]:
x['Region Hidrologica'] == 'Antioquia'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8754    False
8755    False
8756    False
8757    False
8758    False
8759    False
8760    False
8761    False
8762    False
8763    False
8764    False
8765    False
8766    False
8767    False
8768    False
8769    False
8770    False
8771    False
8772    False
8773    False
8774    False
8775    False
8776    False
8777    False
8778    False
8779    False
8780    False
8781    False
8782    False
8783    False
Name: Region Hidrologica, dtype: bool

In [52]:
n = set(x['Nombre Rio'])
n

{'A. SAN LORENZO',
 'ALTOANCHICAYA',
 'BATA',
 'BOGOTA N.R.',
 'CALIMA',
 'CAUCA SALVAJINA',
 'CHUZA',
 'CONCEPCION',
 'DESV. EEPPM (NEC,PAJ,DOL)',
 'DIGUA',
 'FLORIDA II',
 'GRANDE',
 'GUADALUPE',
 'GUATAPE',
 'GUAVIO',
 'MAGDALENA BETANIA',
 'MIEL I',
 'NARE',
 'OTROS RIOS (ESTIMADOS)',
 'PORCE II',
 'PRADO',
 'SAN CARLOS',
 'SINU URRA',
 'TENCHE'}

In [62]:
import statistics
for y in n: 
    z = x [x['Nombre Rio'] == y]['Aportes Energia kWh'] 
    if len(z) > 0:
        print(y, statistics.mean(x[x['Nombre Rio']==y]['Aportes Energia kWh'].values[:]))

MIEL I 3430428.4153
ALTOANCHICAYA 4620595.90164
FLORIDA II nan
CHUZA nan
NARE 17388083.6066
DESV. EEPPM (NEC,PAJ,DOL) nan
GUADALUPE 4542910.92896
MAGDALENA BETANIA 5580630.32787
GUAVIO 20624689.3443
PRADO 498419.125683
CALIMA 556011.748634
DIGUA 429995.355191
OTROS RIOS (ESTIMADOS) 3700456.8306
CONCEPCION 1488170.4918
GUATAPE 5624479.23497
CAUCA SALVAJINA 2519614.48087
TENCHE 878668.306011
PORCE II 4976887.15847
GRANDE 6729973.22404
A. SAN LORENZO 8105399.72678
SAN CARLOS 3084508.74317
BATA 15712428.4153
BOGOTA N.R. nan
SINU URRA 3165074.04372